body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #FFFFFF;
}

div.logo {
	margin: auto;
	display: block;
}

/*HomePage CSS*/

div.homePageContent {
	text-align: center;
}


img {
	max-width: 100%;
}

a.homepageButton {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 15px;
	font-size: 18px;
	color: white;
	background-color: black;
	border: 1px solid black;
	border-radius: 5px;
	width: 130px;
	height: 40px;
	text-decoration: none;
	margin: 10px;
}

a.homepageButton:hover {
	color: black;
	background-color: white;
}

/*Standup Page*/

div.standupPageContent {
	text-align: center;
}

div.whiteBoard div {
	display: inline-block;
	text-align: left;
	margin: auto;
}

div.whiteBoard {
	text-align: center;
	display: table;
}

.column {
	padding: 19px;
	display: table-cell;
  vertical-align: top;
}

div.column-content {
	padding: 0;
}

.list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.item img {
	text-align: right;
}

/*Retro Page*/

div.retroPageContent {
	text-align: center;
}
