body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #FFFFFF;
}

div.logo {
	margin: auto;
	display: block;
}

/*HomePage CSS*/

nav {
	background-color: solid black;
	width: 100%;
*/	list-style: none;
}

div.homePageContent {
	text-align: center;
}

img {
	max-width: 100%;
}
div.homePageButtons {
	height: 300px;
}
a.homepageButton {
	display: inline-block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 10px;
	font-size: 1000%;
	color: white;
	background-color: black;
	border: 1px solid black;
	width: 25%;
	height: 70%;
	border-radius: 5px;
	text-decoration: none;
	margin: 10px;
}

a.homepageButton:hover {
	color: black;
	background-color: white;
}

/*Standup Page*/

div.standupPageContent {
	text-align: center;
}

div.whiteBoard div {
	display: inline-block;
	text-align: left;
	margin: auto;
}

div.whiteBoard {
	margin: auto;
	text-align: center;
	display: table;
}

.column {
	padding: 19px;
	display: table-cell;
  vertical-align: top;
}

div.column-content {
	padding: 0;
}

.column-content div {
	width: 200px;
}

.list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*Retro Page*/

div.retroPageContent {
	text-align: center;
}
